{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookStore</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}"/>
</head>
<body>
    <section>
        <div class="create_container">
            <form action="{% url 'add-todo'%}" method="POST">
                {% csrf_token %}
            <input
            class="create_input"
            type="text"
            placeholder="Заголовок книги"
            name="title"
            />
            <input
            class="create_input"
            type="text"
            placeholder="Подзаголовок книги"
            name="subtitle"
            />
            <input
            class="create_input"
            type="text"
            placeholder="Описание"
            name="description"
            />
            <input
            class="create_input"
            type="text"
            placeholder="Цена"
            name="price"
            />
            <input
            class="create_input"
            type="text"
            placeholder="Жанр"
            name="genre"
            />
            <input
            class="create_input"
            type="text"
            placeholder="Автор"
            name="author"
            />
            <input
            class="create_input"
            type="text"
            placeholder="Год выхода книги"
            name="year"
            />
            <button class="create_button">Добавить</button>
        </form>
        </div>
        <div class="todo_container">
        {% for todo in todo_list %}
        <div class="container">
            <h3>{{ todo.title }}</h3>
            <h4>{{ todo.subtitle }}</h4>
            <h5>{{ todo.description }}</h5>
            <h4>{{ todo.price }}</h4>
            <h4>{{ todo.genre }}</h4>
            <h4>{{ todo.author }}</h4>
            <h4>{{ todo.year }}</h4>
        </div>
        {% endfor %}
    </div>
    </section>
</body>
</html>